.header {
    font-size: 1.5rem;
    padding: .5em;
    text-align: center;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.aside {
    margin-left: 1em;
    width: 20em;
}

.footer {
    text-align: center;
    font-size: 1rem;
    padding: 1em;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    width: 60%;
}

.input-text-container {
    flex: 1;
}

.input-text{
    height: 100%;
}

.input-text-container textarea {
    border-width: 4px;
    overflow-y: visible;
    font-size: 11pt;
}

.input-text-container textarea:hover,
.input-text-container textarea:focus {
    border-right-width: 4px !important;
}