.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    width: 100%;
    position: relative;
}

.toggle-dark-mode-container {
    position: absolute;
    right: 1em;
}

.header h1 {
    font-size: 1.5rem;
    color: inherit;
    margin: 0;
    font-weight: 700;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    flex-flow: column;
}

@media (min-width: 576px) {
    .content {
        flex-flow: row;
        align-items: unset;
        justify-content: center;
    }
    .aside{
        margin-top: 3em;
    }
}

.container {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-flow: column;
    margin-top: 2em;
}

@media (min-width: 768px) {
    .container {
        width: 70%;
        margin-top: 2em;
    }
}

@media (min-width: 1200px) {

    .container {
        width: 50%;
    }

}

.aside {
    flex: 1;
    width: 100%;
}

.footer {
    text-align: center;
    font-size: 1rem;
    padding: 1em;

}

.footer a {
    margin-right: .5em;
    font-size: 1.3rem;
}

.container-subtitle {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: .5em;
}



