.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    width: 100%;
    position: relative;
}

.toggle-dark-mode-container {
    position: absolute;
    right: 1em;
}

.header h1{
    font-size: 1.5rem;
    color: inherit;
    margin: 0;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.aside {
    margin-left: 1em;
    width: 15em;
}

.footer {
    text-align: center;
    font-size: 1rem;
    padding: 1em;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 2em;
    width: 90%;
}

@media (min-width: 768px) {

    .container {
        flex-flow: row;
    }

}

@media (min-width: 1200px) {

    .container {
        width: 60%;
    }

}

.input-text-container {
    flex: 1;
}

.input-text {
    height: 100%;
}

.input-text-container textarea {
    border-width: 2px;
    overflow-y: visible;
    font-size: 11pt;
    background: inherit;
    color: inherit;
    transition: unset;
}

.input-text-container textarea:hover,
.input-text-container textarea:focus {
    border-right-width: 2px !important;
}