.code-mirror-wrapper {
    flex: 1;

    border-radius: 3px;
    background-size: contain;
    background-repeat: no-repeat;
}

.code-mirror-wrapper:focus {
    background: unset;
}

#code-mirror-node, .CodeMirror {
    height: 100%;
}

.CodeMirror {
    border: 3px solid rgba(0, 0, 0, 0.1);
}

.CodeMirror:focus{
    border-color: #2f54eb;
}