.code-mirror-wrapper {
    flex: 1;
    border-radius: 3px;
}

.code-mirror-wrapper:focus {
    background: unset;
}

#code-mirror-node, .CodeMirror {
    height: 100%;
}

.CodeMirror {
    border: 3px solid #f0f0f0;
    font-family: inherit;
    font-size: 1rem;
    color: rgba(0, 0, 0, .65);
    transition: border-color 150ms;
    height: calc(100vh - 12em);
}


.CodeMirror-focused, .CodeMirror:hover {
    border-color: #bfbfbf;
}

.dark-mode .CodeMirror {
    background: inherit;
    color: white;
}

.text-marker {
    color: rgba(0, 0, 0, 0.50);
    background: #91d5ff;
    cursor: pointer;
}

.dark-mode .text-marker {
    background: #1890ff;
    color: white;
}

.image-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 5em;
    z-index: 0;
}

.image-container img {
    height: 20em;
    margin-bottom: 2em;
    opacity: .7;
}

.image-container span {
    font-size: 1.1rem;
    font-weight: 400;
}