@import "~antd/dist/antd.css";

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    width: 100%;
    color: rgba(0, 0, 0, 0.50);
    background: white;
    transition: background-color 200ms, color 200ms;
}

body.dark-mode {
    color: white;
    background: #2b2b2b
}

.ant-btn {
    color: inherit;
}

.dark-mode .ant-btn {
    background: inherit;
    color: inherit;
    transition: unset;
}

.dark-mode .ant-btn:hover {
    color: #1890ff;
}

.dark-mode .ant-popover-inner, .dark-mode .ant-drawer-body {
    background: #313131;
    color: white;
}

.dark-mode .ant-popover-inner-content {
    color: white;
}

.dark-mode .ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow,
.dark-mode .ant-popover-placement-bottomLeft > .ant-popover-content > .ant-popover-arrow,
.dark-mode .ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
    border-top-color: #313131;
    border-left-color: #313131
}

.dark-mode .ant-drawer-title, .dark-mode .ant-drawer-close {
    color: inherit;
}

.dark-mode .ant-drawer-header {
    background: #2b2b2b;
    border-color: #313131;
    color: white;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.red-background {
    background-color: #cf1322;
}

.orange-background {
    background-color: #fa8c16;
}

.yellow-background {
    background-color: #faad14;
}

.blue-background {
    background-color: #1890ff;
}