@import "~antd/dist/antd.css";

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    width: 100%;
    color: rgba(0, 0, 0, 0.50);
    background: white;
    transition: background-color 200ms, color 200ms;
}

body.dark-mode{
    color: white;
    background: #2b2b2b
}

.dark-mode .ant-btn{
    background: inherit;
    color: inherit;
    transition: unset;
}

.dark-mode .ant-btn:hover{
    color: #1890ff;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.red-background {
    background-color: #cf1322;
}

.orange-background {
    background-color: #fa8c16;
}

.yellow-background {
    background-color: #faad14;
}

.blue-background {
    background-color: #1890ff;
}